[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "~=6.0.3"
pydantic = "~=2.12.5"
loguru = "~=0.7.3"
win32-setctime = "~=1.2.0"
python-dotenv = "~=1.2.1"

[dev-packages]
mypy = "*"
types-pyyaml = "*"
typing-extensions = "*"

[requires]
python_version = "3"
