[submodule "secrets"]
	path = secret
	url = git@github.com:Noah-Huppert/funkyboy.zone-secrets
[submodule "kubernetes/base/teleport/base/teleport"]
	path = kubernetes/base/teleport/resources/teleport
	url = git@github.com:gravitational/teleport.git
