{{ pillar.prometheus.hosts }} {
	prometheus

	proxy / {{ pillar.prometheus.local_address }}

	tls {
		dns digitalocean
	}

	header / Cache-Control "no-cache, no-store, must-revalidate"
  
	jwt {
		path /
		redirect /login

		{% for user in pillar['prometheus']['authorized_users'] %}
		allow sub {{ user }}
		{% endfor %}
	}

	login {
		success_url /graph
		github client_id={{ pillar.prometheus.github.client_id }},client_secret={{ pillar.prometheus.github.client_secret }}
	}
}
