apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-celery
spec:
  template:
    spec:
      containers:
      - name: app
        env:
        - name: GOOGLE_API_KEY
          valueFrom:
            secretKeyRef:
              name: django-secret
              key: GOOGLE_API_KEY
        - name: GOOGLE_SEARCH_ENGINE_ID
          valueFrom:
            secretKeyRef:
              name: django-secret
              key: GOOGLE_SEARCH_ENGINE_ID
